
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=WindSong:wght@400;500&display=swap');

a {
    text-decoration: none;
    color: purple;
}

.a1{
    text-align: center;
    background-color: violet;
    font-family: 'WindSong';   
    font-weight: bold;
    font-size: 150px;
    
    color: darkorchid;
    
}
.a3 h1{
    font-size: 30px;
    color: darkorchid;
    
}
.icotranc1{
    height: 100px;
    aspect-ratio: 1; 
    object-fit: cover;
}
.icotranc2{
    height: 100px;
    aspect-ratio: 1; 
    object-fit: cover;
}
.icotranc3{
    height: 100px;
    aspect-ratio: 1; 
    object-fit: cover;
}
.icotranc4{
    height: 100px;
    aspect-ratio: 1; 
    object-fit: cover;
}

.a4{
    font-size: xx-large;
    font-family: 'Gill Sans';
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: purple;
    margin-bottom: 20px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px 0 50px 0;
    border: 2px solid purple;
    width: 50%;
    margin-inline: auto;
    
}
body{
   background-image: url(../CSS/imagem/evoledstudio.jpg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.a2{
    background-color: blanchedalmond;
}
.img1{
    width: 10%;
    margin-left: 5%;
}

.b1{
    
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    
}
.b10{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

}
.b11{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: purple;

}
.bg12{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.fas{
   
    height: 60px;
}
.rua{
    font-size: 20px;
    color: purple;
    font-weight: bold;
}
.curt{
    margin-left: 400px;
    margin-right: 15px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px 0 50px 0;
}

.tra{
    background-color: pink;
    background-color: pink;
    padding: 10px 20px;
    border-radius: 50px 0 50px 0;
    width: fit-content;
    margin-inline: auto;
    margin-top: 8px;
}

.prog{
    background-color: pink;
    background-color: pink;
    padding: 10px 20px;
    border-radius: 50px 0 50px 0;
    width: fit-content;
    margin-inline: auto;
    margin-top: 8px;
}

.ccc{
    margin-left: 250px;
}
.img2{
    display: block;
    width: 60%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    border: 10px solid purple;
    margin-inline: auto;
    margin-block: 8px 16px;
}
.img22{
    margin-top: 25%;
    margin-left: 30%;
}
.img222{
    
    margin-left: 30%;
}

.c2{
    background-color: red;
}
.C1{
    text-align: center;
}
.img3{
    width: 40%;
    height: 500px;
    float: left;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 5%;
}
.img4{
    width: 40%;
    float: left;
    height: 500px;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 5%;
}
.agd{
    color: blueviolet;
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
    font-weight: bold;
}
.agd1{
    font-size: 40px;
    color: blue;
    text-align: center;
    margin-right: 37%;
    
}
.agd2{
    font-size: 40px;
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    margin-right: 37%;
}
.cronog{
    margin-left: 30%;
    margin-right: 35px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px 0 50px 0;
}
.tint{
    margin-right: 15px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px 0 50px 0;
}

.env{
    margin-left: 48%;
}

.vi{
    font-size: 30px;
    text-align: center;
    margin-left: 45%;
    
}

.fle{
    width: 50px;
    height: 60px;
    margin-left: 50%;
}
.fle1{
    width: 50px;
    height: 60px;
    margin-left: 15%;
}

.img5{
    width: 40%;
    float: left;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 5%;
}
.img6{
    width: 40%;
    float: left;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 5%;
}

.img10{
    width: 50%;
    height: 60%;
    float: left;
    border-radius: 5%;
    margin-top: 7%;
    margin-left: 25%;
}

.img11{
    width: 50%;
    height: 60%;
    float: left;
    border-radius: 5%;
    margin-top: 7%;
    margin-left: 25%;
}

.img12{
    width: 50%;
    height: 60%;
    float: left;
    border-radius: 5%;
    margin-top: 7%;
    margin-left: 25%;
}

.img13{
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 25%;
    margin-top: 10%;
}

.img14{
    border: 10px solid purple;
}
.img16{
    border: 5px solid purple;
}
.rs{
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px 0 50px 0;
    border: 2px solid purple;
    background-color: pink;
}

.menuH {
    aspect-ratio: 1;
    object-fit: fill;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#menus {
    display: block;
}
.menus1{
    display: none;
    width: 90%;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    font-weight: bold;
}

.menus1 a {
    background-color: pink;
    padding: 8px;
    border-radius: 8px;
}

@media only screen and (max-width: 750px) {
    .menuH {
        display: block;
        z-index: 1000;
    }

    #menus {
        display: none;
    }

    .b1 {
        font-size: 8px;
    }

    .a1 {
        font-size: 50px;
    }
    .menus1{
        display: flex;
        flex-wrap: wrap;
    }

}